.burger_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.open {
    transform: translateX(0%);
}

.menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 7vh 0 0 0;
    background: linear-gradient(270deg, #1da090 0%, #3a616e 100%);
}

.menu__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5.5vh;
    /*margin: 0 auto;*/
    margin-bottom: 1.5vh;
    background: linear-gradient(175deg, rgba(35, 63, 74, 0.5) 0%, rgba(58, 97, 110, 0.25) 100%);
    /*background-color: rgba(35, 63, 74, 0.32);*/
   /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);*/
}

.menu a {
    text-decoration: none;
    /*padding-bottom: 3vh;*/
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 5vw;
    color: #fff;
}

.first_element{
    z-index: 1000;
    width: 80vw;
    height: 25vh;
    display: flex;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #233f4a;
}

.title{
    width: auto;
    align-self: flex-end;
    font-weight: 500;
    font-size: 10vw;
    text-align: center;
    color: #129D8C;
    font-family: Rubik, serif;
    margin: 0 0 3vh 5vw;
}

.logo{
    width: 14%;
    height: auto;
    align-self: flex-end;
    margin: 0 0 1vh 4vw;
}

