.Border {
    border: 4px solid #3a5d74;
    border-radius: 30px;
    margin: 5vh 17vw;
    justify-content: center;
    display: flex;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    background: #FFF;
}

.Button {
    border-radius: 30px;
    font-size: 7vw;
    text-align: center;
    color: #000;
    font-family: var(--font-family);
    font-weight: 400;
    background: #FFF;
}