.Body{
    flex: 1 1 auto;
    padding: 16vh 0 20vh 0;
}

.Header {
    color: #000;
    text-align: center;
    font-size: 2em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 3vh;
}

.Form {
    border-radius: 30px;
    background-color: white;
    display: flex;
    max-width: 90vw;
    height: auto;
    margin: 2vh 5vw;
    padding-left: 2vw;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

img {
    padding: 2vh 0;
    width: 27vw;
    height: auto;
}

.Graph{
    width: 100%;
    height: 100%;
    padding: 2vh 5vw;
    flex: 1 1 auto;
}

.edit{
    display: flex;
    justify-content: space-between;
    margin: 3vh;
}

.apply_btn{
    font-size: 2em;
    border-radius: 15px;
    padding: 0 2vw;
    background: green;
}

.reset_btn{
    font-size: 2em;
    border-radius: 15px;
    padding: 0 2vw;
    background: red;
}