.Body{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
    /*padding: 16vh 0 24vh 0;*/
    margin-top: 10vh;
}

.Header {
    color: #000;
    text-align: center;
    font-size: 9vw;
    font-family: var(--font-family);
    font-weight: 500;
    padding: 3vh;
}

.Form {
    border-radius: 30px;
    background-color: #ffffff;
    display: flex;
    width: 90vw;
    height: auto;
    margin: 2vh 0;
    flex-direction: column;
    /*justify-content: space-around;*/
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}